/*Variables*/
.body {
	--at-button-height: 48;
	--at-row-count: 2;
}

.mobile-toolbar {
	height: calc(var(--at-button-height) * var(--at-row-count) + var(--at-spacing)) !important;
	position: sticky !important;
	z-index: 5;
	margin-bottom: var(--at-offset);
}

.mobile-toolbar-options-container {
	display: block;
	height: inherit;
}

.mobile-toolbar-option {
	height: var(--at-button-height);
	min-width: var(--at-button-width);
}

/*Multi Row Toolbar*/
.AT-multirow {

	.mobile-toolbar-options-container {
		overflow-y: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.mobile-toolbar-options-list {
		flex-wrap: wrap;
	}
}

.AT-always-shown {
	.is-pinned {
		.workspace-drawer-inner {
			margin-bottom: calc(var(--at-button-height) * var(--at-row-count) + var(--at-spacing));
		}
	}
}

.AT-no-toolbar {
	.mobile-toolbar {
		display: none;
	}
}
